<!--
  Copyright (c) 2016 IBM Corp.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<server description="new server">

<!-- The features installed by the Liberty application accelerator will not appear here.
  Once the application is built the configured features can be found in the server
  installed into myProject-wlpcfg/target in the configDropins/defaults folder. -->

<!-- To extend the feature list either add the app accelerator Maven dependencies, add the features
 below or put a server.xml file in configDropins/overrides. Note: you may need to add Maven provided
 dependencies for use at compile time if not using app accelerator dependencies. -->

    <featureManager>
        <feature>mpConfig-1.1</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <jndiEntry jndiName="cloudant/url" value="${env.CLOUDANT_URL}"/>
    <jndiEntry jndiName="cloudant/username" value="${env.CLOUDANT_USERNAME}"/>
    <jndiEntry jndiName="cloudant/password" value="${env.CLOUDANT_PASSWORD}"/>

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>

    <applicationMonitor updateTrigger="mbean"/>

    <!-- webApplication id="microservice-vote" location="microservice-vote.war" name="microservice-vote"/ -->
</server>
