.classpath
.project
.settings
.DS_Store
target/
typings/
bower_components/
node_modules/
*.iml
*.ipr
*.iws
*.swp
.idea
.forge_settings
.factorypath
.externalToolBuilders
rebuild.sh
derby.log
npm-debug.log
/update.fork.bat
update.fork.bat
