<server description="Speaker server">
    <featureManager>
        <feature>microProfile-1.0</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="4040" />
    
    <webApplication location="microservice-speaker.war" contextRoot="/microservice-speaker"/>
</server>