<!--<div class="list-group">-->
<!--<a href="#" class="list-group-item list-group-item-action"-->
<!--*ngFor="let schedule of schedules"-->
<!--[class.selected]="schedule === selectedSchedule"-->
<!--(click)="onSelect(schedule)">-->
<!--<span class="badge">Session: {{schedule.sessionId}}</span>, Venue: {{schedule.venue}}, Date: {{schedule.date}}, StartTime: {{schedule.startTime}}-->
<!--</a>-->
<!--</div>-->
<!--<schedule [schedule]="selectedSchedule"></schedule>-->
<style type="text/css">

</style>

<div class="container p-a-1 rounded" style="background: rgba(20, 173, 175, 0.4)">
    <div class="row">
        <div class="col-xs">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <p-schedule #schedule [events]="events" [aspectRatio]="aspectRatio" [header]="header" [defaultView]="defaultView" [allDaySlot]="allDaySlot"
                    [minTime]="minTime" [maxTime]="maxTime" [defaultDate]="defaultDate"></p-schedule>
    </div>
</div>
