<server description="new server">

    <!-- Enable features -->

    <featureManager>
        <feature>microProfile-1.0</feature>
	<!--
        <feature>servlet-3.1</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jsonp-1.0</feature>
	-->
    </featureManager>

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>
    <httpEndpoint httpPort="9130" httpsPort="9453" id="defaultHttpEndpoint"/>

    <applicationMonitor updateTrigger="mbean"/>

    <!-- webApplication id="microservice-vote" location="microservice-vote.war" name="microservice-vote"/ -->
</server>
