<div class="container p-a-1 rounded" style="background: rgba(20, 173, 175, 0.4)">
    <div class="row">
        <div class="col-xs">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
            <p-chart #chart type="pie" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
        </div>
    </div>
</div>

<!--<div class="list-group">-->
<!--<a href="#" class="list-group-item list-group-item-action"-->
<!--*ngFor="let vote of votes"-->
<!--[class.selected]="vote === selectedVote"-->
<!--(click)="onSelect(vote)">-->
<!--<span class="badge">Session: {{vote.session}}</span>, Rating: {{vote.rating}}-->
<!--</a>-->
<!--</div>-->
<!--<vote [vote]="selectedVote"></vote>-->
